<!DOCTYPE html>
<html>
    <!-- //served as default -->
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
            {{>header}}
            <p>It uses data from mapbox.com and weather stack </p>
           <p>Created by : {{>footer}}</p>
    </body>

</html>